<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-primary btn-sm">Address Lookup</button>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary btn-sm">Office Address Lookup</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <label>Organization Name</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-6">
    <label>Building Name</label>
    <input class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <label>Door #</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-4">
    <label>Block #</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-4">
    <label>Apartment #</label>
    <input class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>Street Name</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-6">
    <label>Locality Name</label>
    <input class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <label>City</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-6">
    <label>Post Town</label>
    <input class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <label>Post Code</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-4">
    <label>County</label>
    <input class="form-control" />
  </div>
  <div class="col-sm-4">
    <label>Country</label>
    <input class="form-control" />
  </div>
</div>